@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
}

/* Navigation */

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 13vh;
}

header nav img {
    margin: 2vh 10vw 0 2vw;
    width: 20vw;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 79vw;
    align-items: center;
    list-style-type: none;
    z-index: 100;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: rgb(92, 76, 148);
}

.selected {
    color: rgb(92, 76, 148);
}

main .desktop-none {
    display: none;
}

/* Dropdown hovermenu i navigationen */

header nav ul li ul {
    display: none;
    width: auto;
    margin: 0;
    position: absolute;
    background-color: rgba(92, 76, 148, 0.85);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

header nav ul li:hover ul {
    display: block;
    visibility: visible;
}

header nav ul li ul li a {
    text-decoration: none;
    padding: 1.5vh 0;
    color: #ffffff;
    display: block;
}

header nav ul li ul li a:hover {
    color: #C0C0C0;
}

.dropdown-wrapper {
    margin-left: 1vw;
    margin-right: 1vw;
}

.dropdown-wrapper h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.dropdown-wrapper h3 {
    font-size: 1rem;
}

.dropdown-category {
    display: flex;
    justify-content: space-between;
}

.dropdown-category-sectionboxes {
    height: 12vh;
    width: 12vw;
    background: white;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px
}

.dropdown-column a {
    margin-top: 7px;
    margin-left: 0.5vw;
}

.dropdown-column a:hover {
    transform: scale(1.05);
    transition: transform .25s;
    color: #C0C0C0;
}

.width li {
    margin-left: 1vw;
    margin-right: 1vw;
}

.width-dropdown {
    width: 11vw;
    padding-left: 1vw;
    padding-right: 5vw;
}

.dropdown-column a:last-child {
    margin-bottom: 10px;
}

.dropdown-category-sectionboxes h3 {
    color: black;
    text-align: center;
    padding-top: 2vh;
}

.dropdown-dark-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
    display: none;
}

body.showmenu .dropdown-dark-background {
    display: block;
}

/* Styling for buttons */

.subscribe {
    width: 10vw;
    z-index: 2;
}

.subscribe-dropdown {
    width: 15vw;
    text-align: center;
    color: white;
}

.subscribe-dropdown h4 {
    margin: 1vh 0 1vh 0;
}

.subscribe:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.4s;

}

.subscribe-dropdown input {
    width: 14vw;
}

.subscribe-dropdown input[type=submit] {
    background-color: #3B3B3B;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 1vh 0 1vh 0;
    height: 3vh;
    width: 7vw;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
}

button {
    width: 10vw;
    height: 5vh;
    border-radius: 0.5vw;
    border: none;
    background-color: rgb(92, 76, 148);
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
}

/* Styling for footer */

footer {
    background-color: #3B3B3B;
    color: white;
    display: grid;
    grid-template-areas: 'lf mf rf';
}

/* Styling for icons */

.icons a {
    text-decoration: none;
    margin: 0 0.25vw 0 0.25vw;
}

.fa-linkedin {
    color: rgb(92, 76, 148);
    font-size: 2vw;
}

.fa-youtube {
    color: rgb(92, 76, 148);
    font-size: 2vw;
}

.leftfooter {
    grid-area: lf;
}

.leftfooter p {
    padding-top: 0vh;
    margin-bottom: 2vh;
}

.leftfooter img {
    margin-top: 2vh;
}

.middlefooter {
    grid-area: mf;
}

.middlefooter h3 {
    margin-bottom: 2vh;
}

.rightfooter {
    grid-area: rf;
}

.rightfooter p {
    margin-bottom: 2vh;
}

.rightfooter h3 {
    margin-top: 4vh;
}

footer div {
    margin: auto;
    text-align: center;
}

/* Styling for landingpage starts here */

/* Styling for header starts here */

.logo {
    width: 7vw;
}

.frontpage header {
    position: absolute;
}

/* Styling for backgroundimage starts here */

#backgroundimage {
    height: 65vh;
    text-align: center;
    background-image: url("../images/Hero.jpg");
    background-size: center;
}

#backgroundimage h1 {
    font-size: 5vw;
    color: white;
}

#backgroundimage h2 {
    font-size: 1.5vw;
    color: white;
}

#backgroundimage .hero-left {
    padding-top: 15vh;
    margin-left: 60vw;
}

#backgroundimage .hero-right {
    padding-top: 15vh;
    padding-right: 50vw;
}

/* Styling for midterste del af forside starter her */

.splitline {
    height: 1.5vh;
    background-color: rgb(92, 76, 148);
    margin: 0;
}

#top h2 {
    padding-top: 17vh;
    font-size: 2.5vw;
    text-shadow: 1.5px 1.5px rgb(34, 34, 34);
    color: white;
}

.flexbox {
    display: flex;
}

/* Styling for nyhedsbrev og footer på forsiden starter her */

#nyhedsbrev {
    text-align: center;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#nyhedsbrev h2 {
    font-size: 3vw;
    color: white;
}

#nyhedsbrev .video-news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#nyhedsbrev .video-news video {
    width: 100vw;
    height: 100%;
    filter: grayscale(100%) brightness(40%);
}

.frontpage-boxcontainer {
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    color: white;
    text-align: center;
}

.categorybox {
    width: 20vw;
    padding: 25px;
    height: 30vh;
    background: rgb(92, 76, 148);
    /* background-image: url("../images/Hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    */
    opacity: 90%;
    border-radius: 0.1vw;
}

.categorybox h4 {
    margin-top: 5%;
    opacity: 100%;
    font-size: 1rem;
}

/* Styling for loesninger.html starts here */

/* Styling for the different solutions starts here */

.bodyloesninger {
    background-color: #C0C0C0;
}

.grid section {
    width: 15vw;
    margin-top: 4vh;
}

.video-container {
    position: relative;
    text-align: center;
}

.centered {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

.preview {
    width: inherit;
}

.video-container .grayscale-filter {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 250ms;
}

.video-container:hover .grayscale-filter {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.shadow {
    box-shadow: 3px 3px 15px #888888;
    transition: transform .2s;
}

.shadow:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.adressekoeb {
    grid-area: top1;
}

.databehandling {
    grid-area: top2;
}

.adressering {
    grid-area: top3;
}

.foliering {
    grid-area: top4;
}

.paperwrapping {
    grid-area: top5;
}

.bundtfoliering {
    grid-area: mid1;
}

.segmentering {
    grid-area: mid2;
}

.indstik {
    grid-area: mid3;
}

.manuelpaalaegning {
    grid-area: mid4;
}

.labelspaasaetning {
    grid-area: mid5;
}

.kuvertering {
    grid-area: mid6;
}

.pakningafkasser {
    grid-area: mid7;
}

.print {
    grid-area: mid8;
}

.lagerhotel {
    grid-area: mid9;
}

.raadgivning {
    grid-area: mid10;
}

.magasiner {
    grid-area: bot1;
}

.breve {
    grid-area: bot2;
}

.pakker {
    grid-area: bot3;
}

.adresseloest {
    grid-area: bot4;
}

.grid {
    display: grid;
    grid-template-areas: 'top1 top2 top3 top4 top5' 'mid1 mid2 mid3 mid4 mid5' 'mid6 mid7 mid8 mid9 mid10' 'bot1 bot2 bot3 bot4 bot5';
    gap: 15px;
    width: 86vw;
    margin: auto;
}

.bodyloesninger footer {
    margin-top: 20vh;
}

/* Styling for the different solution pages starts here */

.greybg {
    background-color: #888888;
}

.solutions-h1 {
    text-align: center;
    margin: 10vh 0 10vh 0;
    font-weight: normal;
    font-size: 2.2vw;
}

.solutions-h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

.solutions-flex {
    width: 90vw;
    margin: auto;
}

.solutions-text {
    width: 40vw;
    margin-right: 2.5vw;
    font-size: 1vw;
    line-height: 2;
}

.solutions-video {
    width: 40vw;
    margin-left: 5vw;
}

.advantages {
    color: white;
    width: 12.5vw;
    height: 20vh;
    background-color: #6F619F;
    margin: auto;
    padding: 1.5vw;
}

.advantages-flex {
    width: 50vw;
    margin: auto;
    margin-bottom: 7vh;
}

/* Styling for case.html starts here */

.bodycase {
    background-color: #C0C0C0;
}

.filter {
    width: 84vw;
    margin: auto;
    height: 10vh;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 2.5vh;
}

.cases {
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 'top1 top2 top3 top4 top5' 'mid1 mid2 mid3 mid4 mid5' 'bot1 bot2 bot3 bot4 bot5';
    gap: 1.5vw;
    width: 84vw;
    margin: 10vh auto 10vh auto;
}

.cases a {
    text-decoration: none;
}

.hunden {
    grid-area: top1;
}

.case2 {
    grid-area: top2;
}

.skiltemagasinet {
    grid-area: top3;
}

.jaeger {
    grid-area: top4;
}

.case5 {
    grid-area: top5;
}

.case6 {
    grid-area: mid1;
}

.case7 {
    grid-area: mid2;
}

.case8 {
    grid-area: mid3;
}

.case9 {
    grid-area: mid4;
}

.case10 {
    grid-area: mid5;
}

.case11 {
    grid-area: bot1;
}

.case12 {
    grid-area: bot2;
}

.case13 {
    grid-area: bot3;
}

.case14 {
    grid-area: bot4;
}

.case15 {
    grid-area: bot5;
}

.hoverandclick:hover {
    transform: scale(1.05);
    transition: transform .25s;
    cursor: pointer;
}

.casebox {
    width: 15vw;
    height: 30vh;
    text-align: center;
    background-size: contain;
    padding-top: 12.5vh;
}

.casebox h1 {
    color: white;
}

.casebox-bg-hunden {
    background-image: url(../images/hunden.jpg);
}

.casebox-bg-aeldresagen {
    background-image: url(../images/ældresagen.jpg);
}

.casebox-bg-jaeger {
    background-image: url(../images/jægerblad.jpg);
}

.casebox-bg-skiltemagasinet {
    background-image: url(../images/impulsblad.jpg);
}

/* Styling for the different cases pages starts here */

.specific-cases {
    color: white;
    padding-top: 10vh;
}

.specific-cases h1 {
    text-align: center;
    font-size: 3vw;
}

.specific-cases h2 {
    font-size: 2vw;
    margin: 10vh 0 8vh 9.5vw;
}

.specific-cases-content {
    width: 90vw;
    margin: auto;
    padding-left: 5vw;
    padding-bottom: 15vh;
}

.specific-cases-text {
    width: 40vw;
    margin-right: 2.5vw;
    font-size: 1.2vw;
    line-height: 2;
}

.specific-cases-img {
    width: 40vw;
    margin: auto;
}

.specific-cases-img img {
    width: 25vw;
    margin-left: 5vw;
}

/* Styling for hunden.html starts here */

.hunden-bg-image {
    background-image: url(../images/hundenbg.jpg);
}

/* Styling for aeldresagen.html starts here */

.aeldresagen-bg-image {
    background-image: url(../images/ældresagenbg.jpg);
}

/* Styling for kontakt.html starter her */

.bodykontakt {
    background-color: #C0C0C0;
}

.kontakttop {
    height: 30vh;
    background-color: #3B3B3B;
    color: white;
    padding-left: 5vw;
    padding-top: 5vh;
    font-size: 1.4vw;
}

.kontaktgrid {
    display: grid;
    grid-template-areas: 'tl tm tr' 'ml mm mr' 'bl bm br' 'bl bm2 br2';
    line-height: 2vw;
    justify-content: space-evenly;
    margin: 5vh 0 5vh 0;
}

.kontaktgrid h2 {
    color: rgb(92, 76, 148);
}

.kontaktgrid p {
    margin: 0;
    padding: 0;
}

.bold p:first-of-type {
    font-weight: bold;
    letter-spacing: 2px;
}

.topright {
    grid-area: tr;
}

.topmid {
    grid-area: tm;
    margin-bottom: 5vh;
}

.topleft {
    grid-area: tl;
}

.midleft {
    grid-area: ml;
}

.midmid {
    grid-area: mm;
    margin-bottom: 5vh;
}

.midright {
    grid-area: mr;
}

.botleft {
    grid-area: bl;
}

.botmid {
    grid-area: bm;
    margin-bottom: 5vh;
}

.botright {
    grid-area: br;
}

.botmid2 {
    grid-area: bm2;
}

.botright2 {
    grid-area: br2;
}

.contactwrapper {
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.signup {
    background-color: rgb(92, 76, 148);
    width: 20vw;
    color: white;
    height: 20vh;
}

.signup h2 {
    margin-top: 5vh;
}

.signup form {
    margin-top: 1.5vh; 
}

.signup input[type=submit] {
    background-color: #3B3B3B;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 1.5vh 0 1vh 0;
    height: 3vh;
    width: 7vw;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
}

.signup input[type=email] {
    width: 12vw;
    height: 3vh;
}

.formular {
    display: inline-block;
    background-color: rgb(92, 76, 148);
    width: 60vw;
}

.formular h3 {
    color: white;
    font-size: 2vw;
    margin: 5vh 0 5vh 0;
}

.formular form label {
    display: block;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 0.3vh;
    color: white;
}

.formular form input {
    width: 50vw;
    height: 5vh;
    margin-bottom: 2vh;
    padding-left: 1vw;
}

.formular form input:last-of-type {
    height: 20vh;
    padding-bottom: 15vh;
}

.formular button {
    background-color: #3B3B3B;
    margin: 2vh 0 5vh 0;
    height: 5vh;
    width: 10vw;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8vw;
}



/* Styling for ate.html starter her */

.bodyate {
    background-color: #C0C0C0;
}

.topate {
    width: 90vw;
    margin-left: 5vw;
    background-color: #3B3B3B;
    color: white;
    text-align: center;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.topate h1 {
    font-size: 2em;
    width: 100vw;
}

.ateinfo {
    margin-left: 5vw;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    width: 90vw;
    background-color: white;
}

.ateinfo p {
    color: black;
    margin: 0;
    line-height: 3vh;
    width: 70vw;
}

.ateinfo h2 {
    color: rgb(92, 76, 148);
    padding-top: 5vh;
    margin-bottom: 5px;
}

.ateinfo ul {
    line-height: 3vh;
    margin-left: 1vw;
}

/* Styling for omos.html starter her */

.bodyomos {
    background-color: #C0C0C0;
}

.bodyomos header {
    position: absolute;
    z-index: 5;
}

.omosheader img {
    filter: brightness(50%);
    height: 65vh;
    width: 100%;
}

.omosheader {
    margin: 0;
    height: 65vh;
}

.omos-missionandvision {
    width: 100%;
    color: white;
    position: absolute;
    top: 325px;
    text-shadow: 1.5px 1.5px grey;
}

.omos-missionandvision div {
    width: 45vw;
    margin: 5vh auto;
    line-height: 2;
}

.omos-missionandvision h1 {
    text-align: center;
    font-size: 2vw;
}

.omos-missionandvision p {
    font-size: 1vw;
}

.history {
    margin: 0 5vw 0 5vw;
}

.history h2 {
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin: 5vh auto 5vh auto;
}

.width {
    width: 30vw;
}

.history h3 {
    text-align: center;
    color: #5C4C94;
    font-size: 1.2vw;
    margin: 2vh 0 3vh 0;
}

.history p {
    color: black;
    font-size: 1vw;
    line-height: 2;
    margin: 0;
}

.width {
    width: 25vw;
    padding: 10px 10px;
    border: 2px solid rgb(92, 76, 148);
    border-radius: 10px;
    margin-bottom: 5vh;
}

.space-evenly {
    justify-content: space-evenly;
}

.history ul {
    margin-left: 1vw;
    margin-bottom: 10vh;
    line-height: 2;
    font-style: oblique;
}

.timelinewrapper {
    text-align: center;
    margin-bottom: 5vh;
}

.timeline-center {
    display: inline-block;
    position: relative;
}

.timeline-margin {
    margin-left: 5vw;
}

.timeline-center h3 {
    margin-bottom: 5vh;
    color: rgb(92, 76, 148);
    font-size: 2vw;
}

.timeline-border {
    height: 86%;
    width: 50%;
    position: absolute;
    border-right: 5px solid rgb(92, 76, 148);
    margin: 0;
}

.dot-top {
    background: rgb(92, 76, 148);
    height: 20px;
    width: 20px;
    right: -12px;
    top: 0;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
}

.dot-bottom {
    background: rgb(92, 76, 148);
    height: 20px;
    width: 20px;
    right: -12px;
    bottom: 0;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
}

.timeline-singleborder {
    border-bottom: 3px solid rgb(92, 76, 148);
    margin-right: 10vw;
}

.border-left {
    margin-left: 30vw;
    width: 25vw;
}

.border-right {
    margin-right: 25vw;
    width: 30vw;
}

.timeline-singleborder h4 {
    color: rgb(92, 76, 148);
    font-size: 1.2vw;
    margin-bottom: 0.5vh;
}

.timeline-singleborder h5 {
    color: white;
    font-size: 1vw;
    margin-bottom: 0.5vh;
}

/* Hentet inspiration og hjælp fra lektion med DAHG (workshop) i forhold til navigationens burgermenu på mediaqueries */

#burgerMenuButtonWrapper, #burgermenuCloseButtonWrapper {
    display: none;
}

/* Styling for tablet version starter her */

@media (min-width: 768px) and (max-width: 1024px) {
    /* Generelt */
    .desktop-none {
        display: block;
        position: absolute;
        margin: 1vh 0 0 2vw;
    }
    .none {
        display: none;
    }
    main .desktop-none {
        display: block;
        position: fixed;
        top: 0;
        margin-top: 1vh;
        position: fixed;
    }
    /* Burgermenu */
    .selected {
        color: white;
    }
    .btn {
        display: inline-block;
        text-decoration: none;
        font-size: 25px;
        background-color: rgb(92, 76, 148);
        border-radius: 10%;
        height: 5vh;
        width: 10vw;
        text-align: center;
        padding-top: 0.5vh;
        color: white;
        transition: box-shadow .2s ease-out;
    }
    .btn-close {
        color: rgb(92, 76, 148);
        background-color: white;
        font-weight: bold;
    }
    #burgerMenuButtonWrapper {
        display: block;
        text-align: right;
        position: fixed;
        width: 40vw;
        top: 0;
        margin-top: 1vh;
        margin-left: 58vw;
    }
    #burgerMenuButtonWrapper a {
        display: inline-block;
        margin: 2vw;
    }
    #burgermenuCloseButtonWrapper {
        display: block;
        text-align: right;
        margin-right: 2vw;
        margin-left: 5vw;
        margin-top: 1vh;
    }
    #burgermenuCloseButtonWrapper a {
        display: inline-block;
        margin: 2vw;
    }
    .omosheader {
        height: 10vh;
        width: 80vw;
        background-color: #C0C0C0;
        margin-left: 0;
    }
    .logo {
        display: none;
    }
    footer .logo {
        display: block;
        margin-left: 10vw;
    }
    nav {
        display: flex;
        flex-direction: row-reverse;
    }
    header nav {
        background-color: rgb(92, 76, 148);
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transform: translateX(100%);
        transition: transform .3s ease-out;
        position: fixed;
        top: 0;
    }
    header nav.active {
        transform: translateX(0);
    }
    header nav ul {
        display: block;
        width: 100vw;
    }
    header nav ul li {
        display: block;
        border-top: 2px solid white;
    }
    header nav ul li:first-of-type {
        border: none;
    }
    header nav ul li:last-child {
        border-bottom: 2px solid white;
    }
    header nav ul li a {
        display: block;
        padding: 5vw;
        font-size: 3vw;
    }
    header nav ul li:hover ul {
        position: relative;
        display: block;
        width: 100vw;
    }
    header nav ul li a:hover {
        color: #C0C0C0;
    }
    header nav ul li ul {
        display: none !important;
    }
    /* Forside */
    /* Styling for index.html (tablet) starter her */
    #backgroundimage {
        width: 100vw;
        height: 55vh;
        padding: 12vh 0 0 25vw;
    }
    #backgroundimage h1 {
        font-size: 60px;
    }
    #backgroundimage h2 {
        display: none;
    }
    #top {
        display: none;
    }
    #left {
        background-color: #C0C0C0;
        padding: 0;
    }
    #left h2 {
        margin: 0;
        color: rgb(92, 76, 148);
        font-size: 36px;
        margin: 2vh;
    }
    #left p {
        margin: 2vh;
        width: 40vw;
        color: black;
        font-size: 20px;
        line-height: 1.2;
    }
    #left button {
        margin-left: 2vh;
        margin-bottom: 2vh;
        width: 30vw;
        font-size: 20px;
    }
    .flexbox #left, #map {
        width: 100vw;
        height: 30vh;
    }
    #nyhedsbrev {
        display: none;
    }
    .logo {
        width: 120px;
    }
    .icons i {
        font-size: 50px;
    }
    /* Styling for loesninger.html (tablet) starter her */
    .loesningerframe .video-container {
        background-color: rgb(92, 76, 148);
        font-size: 4vw;
    }
    .videotext h1 {
        color: white;
    }
    .loesningerframe {
        display: block;
        width: 90vw;
    }
    .loesningerframe section {
        width: 90vw;
        height: 30vh;
        margin: 5vh auto 5vh auto;
    }
    .videobox {
        display: none;
    }
    .videotext {
        background: none;
        color: black;
    }
    .videotext p {
        display: none;
    }
    /* Styling for loesninger.html (tablet) pop-up vinduer starter her */
    .popup-header .close-button {
        font-size: 10vw;
        margin-right: 3vw;
    }
    .popup-loesninger-text {
        font-size: 24px;
        margin-left: 2vw;
    }
    .popup-loesninger-text h2 {
        font-size: 40px;
    }
    .popup-video {
        display: none;
    }
    .advantages {
        display: none;
    }
    /* Styling for case.html (tablet) starter her */
    .cases {
        display: block;
    }
    .cases section {
        width: 90vw;
        height: 30vh;
        margin: 0 auto 5vh auto;
    }
    .caseboxtext h1 {
        font-size: 60px;
        position: relative;
        bottom: 21.5vh;
    }
    /* Styling for case.html (tablet) pop-up vinduer starter her */
    .popup-header .title {
        margin-left: 3vw;
        font-size: 60px;
    }
    .popup-body {
        display: block;
    }
    .popup {
        overflow: scroll;
    }
    .casesize {
        margin: 3vh 0 0 2vw;
    }
    .casesize h2 {
        font-size: 36px;
        width: 70vw;
    }
    .casesize p {
        font-size: 24px;
        width: 70vw;
    }
    .popup-image {
        display: none;
    }
    /* Styling for omos.html (tablet) starter her */
    .omos-banner {
        display: none;
    }
    .omos-missionandvision {
        display: block;
        height: 40vh;
    }
    .omos-missionandvision div {
        width: 80vw;
        margin: auto;
        height: 15vh;
    }
    .omos-missionandvision p {
        font-size: 2vw;
    }
    .history h2 {
        margin-top: 5vh;
        font-size: 40px;
    }
    .history h3 {
        margin-top: 5vh;
        font-size: 30px;
    }
    .history p {
        font-size: 16px;
    }
    /* Styling for kontakt.html (tablet) starter her */
    .kontakttop h1 {
        font-size: 50px;
        margin-bottom: 2vh;
    }
    .kontakttop p {
        font-size: 24px;
    }
    .kontaktgrid {
        display: grid;
        grid-template-areas: 'tr tl' 'tm ml' 'mr mm' 'br bm' 'br2 bm2' 'bl bl';
    }
    .kontaktgrid div h2 {
        margin-top: 2vh;
    }
    .kontaktgrid div p {
        color: black;
        margin-bottom: 2vh;
    }
}

/* Styling for mobile version starter her */

@media (min-width: 320px) and (max-width: 767px) {
    /* Burgermenu */
    .desktop-none {
        display: block;
        position: fixed;
        margin: 1vh 0 0 2vw;
    }
    main .desktop-none {
        display: block;
        position: absolute;
        top: 0;
        margin-top: 1vh;
        position: fixed;
    }
    .btn {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        background-color: rgb(92, 76, 148);
        border-radius: 10%;
        height: 5vh;
        width: 15vw;
        text-align: center;
        padding-top: 1vh;
        color: white;
        transition: box-shadow .2s ease-out;
    }
    .btn-close {
        color: rgb(92, 76, 148);
        background-color: white;
        padding-top: 1vh;
        font-weight: bold;
    }
    #burgerMenuButtonWrapper {
        display: block;
        text-align: right;
        position: fixed;
        width: 40vw;
        top: 0;
        margin-top: 1vh;
        margin-left: 58vw;
    }
    #burgerMenuButtonWrapper a {
        display: inline-block;
        margin: 2vw;
    }
    #burgermenuCloseButtonWrapper {
        display: block;
        text-align: right;
        margin-right: 2vw;
        margin-left: 5vw;
        margin-top: 1vh;
    }
    #burgermenuCloseButtonWrapper a {
        display: inline-block;
        margin: 2vw;
    }
    .omosheader {
        height: 10vh;
        width: 80vw;
        background-color: #C0C0C0;
    }
    .logo {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row-reverse;
    }
    header nav {
        background-color: rgb(92, 76, 148);
        width: 100vw;
        height: 100vh;
        z-index: 1;
        transform: translateX(100%);
        transition: transform .3s ease-out;
        position: fixed;
        top: 0;
    }
    header nav.active {
        transform: translateX(0);
    }
    header nav ul {
        display: block;
        width: 100vw;
    }
    header nav ul li {
        display: block;
        border-top: 1px solid white;
    }
    header nav ul li:first-of-type {
        border: none;
    }
    header nav ul li:last-child {
        border-bottom: 1px solid white;
    }
    header nav ul li a {
        display: block;
        padding: 5vw;
        font-size: 3vw;
    }
    header nav ul li:hover ul {
        position: relative;
        display: block;
        width: 100vw;
    }
    header nav ul li ul li a {
        padding: 5vw 0 5vw 10vw;
    }
    header nav ul li a:hover {
        color: #C0C0C0;
    }
    header nav ul li ul {
        display: none !important;
    }
    .desktop-none {
        display: block;
        position: absolute;
        margin: 1vh 0 0 2vw;
    }
    .none {
        display: none;
    }
    .desktop-none {
        display: block;
    }
    /* Styling for index.html (mobile) starter her */
    header nav ul {
        display: block;
    }
    .selected {
        color: white;
    }
    #backgroundimage {
        width: 100vw;
        height: 35vh;
        padding: 12vh 0 0 25vw;
    }
    #backgroundimage h1 {
        font-size: 30px;
    }
    #backgroundimage h2 {
        display: none;
    }
    #top {
        display: none;
    }
    .indexbody .flexbox {
        display: block;
    }
    #left {
        width: 100vw;
        padding: 0;
        height: 20vh;
    }
    #left h2 {
        padding-top: 1vh;
        padding-left: 10vw;
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
    #left p {
        padding-top: 1vh;
        padding-left: 10vw;
        width: 80vw;
        font-size: 12px;
        line-height: 1.2;
        margin: 0;
    }
    #left button {
        margin-top: 2vh;
        margin-left: 10vw;
        width: 30vw;
        font-size: 11px;
        border-radius: 100px;
    }
    #map {
        width: 100vw;
        height: 30vh;
    }
    #nyhedsbrev {
        display: none;
    }
    footer {
        height: 15vh;
    }
    footer p {
        font-size: 9px;
    }
    .leftfooter, .middlefooter, .rightfooter {
        height: 15vh;
        width: 33.3vw;
    }
    .logo {
        width: 80px;
    }
    footer .logo {
        display: block;
        margin-left: 10vw;
    }
    .icons i {
        font-size: 30px;
    }
    .middlefooter {
        padding-top: 4vh;
    }
    footer h3 {
        font-size: 11px;
    }
    /* Styling for loesninger.html (mobile) starter her */
    .loesningerframe .video-container {
        background-color: rgb(92, 76, 148);
        font-size: 4vw;
    }
    .videotext h1 {
        color: white;
    }
    .loesningerframe {
        display: block;
        width: 90vw;
    }
    .loesningerframe section {
        width: 90vw;
        height: 20vh;
        margin: 5vh auto 5vh auto;
    }
    .videobox {
        display: none;
    }
    .videotext {
        background: none;
        color: black;
    }
    .videotext p {
        display: none;
    }
    /* Styling for loesninger.html (mobile) pop-up vinduer starter her */
    .popup {
        width: 90vw;
    }
    .popup-header {
        height: 10vh;
    }
    .popup-header .close-button {
        font-size: 16vw;
        margin: 0 5vw 0 0;
    }
    .popup .title {
        font-size: 30px;
        margin: 2.5vh 0 0 5vw;
    }
    .popup-loesninger-text {
        font-size: 16px;
        margin-left: 2vw;
    }
    .popup-loesninger-text h2 {
        font-size: 24px;
        color: black;
    }
    .popup-video {
        display: none;
    }
    .advantages {
        display: none;
    }
    /* Styling for case.html (mobile) starter her */
    .cases {
        display: block;
    }
    .cases section {
        width: 90vw;
        height: 30vh;
        margin: 0 auto 5vh auto;
    }
    .caseboxtext h1 {
        font-size: 40px;
        position: relative;
        bottom: 20vh;
    }
    /* Styling for case.html (mobile) pop-up vinduer starter her */
    .popup-body {
        display: block;
    }
    .popup {
        overflow: scroll;
    }
    .casesize {
        margin: 3vh 0 0 2vw;
    }
    .casesize h2 {
        font-size: 24px;
        width: 70vw;
    }
    .casesize p {
        font-size: 16px;
        width: 70vw;
    }
    .popup-image {
        display: none;
    }
    /* Styling for omos.html (mobile) starter her */
    .omos-banner {
        display: none;
    }
    .omos-missionandvision {
        display: block;
        height: 55vh;
    }
    .omos-missionandvision div {
        width: 80vw;
        margin: auto;
        height: 25vh;
    }
    .omos-missionandvision h1 {
        font-size: 24px;
        padding-top: 0vh;
        margin: 0;
    }
    .omos-missionandvision p {
        font-size: 3vw;
        padding-bottom: 5vh;
    }
    .timelinewrapper {
        display: none;
    }
    .history h2 {
        margin-top: 5vh;
        font-size: 40px;
    }
    .history h3 {
        margin-top: 5vh;
        font-size: 30px;
    }
    .history p {
        font-size: 20px;
    }
    /* Styling for kontakt.html (tablet) starter her */
    .kontakttop h1 {
        font-size: 30px;
        margin-bottom: 2vh;
    }
    .kontakttop p {
        font-size: 20px;
    }
    .none {
        display: none;
    }
    .kontaktgrid {
        display: grid;
        grid-template-areas: 'tr tl' 'tm ml' 'mr mm' 'br bm' 'br2 bm2' 'bl none';
    }
    .bold {
        width: 46vw;
        margin: auto;
    }
    .kontaktgrid div h2 {
        margin-top: 2vh;
        font-size: 16px;
    }
    .kontaktgrid div p {
        color: black;
        margin-bottom: 2vh;
        font-size: 10px;
    }
    .rightfooter p {
        padding: 0;
        margin-top: 2vh;
        margin-bottom: 0;
    }
    .leftfooter p {
        margin-bottom: 0;
    }
}